@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
   
    .image-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

</style>
<div class="card">
    <div class="card-body">
        <h5 class="card-title text-uppercase">quản lý sản phẩm</h5>
        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false" tabindex="-1">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-contact" type="button" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">Contact</button>
            </li>
        </ul>
        <div class="tab-content pt-2" id="borderedTabContent">
            <div class="tab-pane fade active show" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row mt-2 mb-3">
                    <div class="col-3">
                        <div >
                            <input type="text" class="form-control" placeholder="Tìm kiếm">
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" style="width:100%">
                        <thead>
                            <tr class="text-center">
                                <th style="width:10%">
                                    <button class="btn btn-primary btn-sm" id="btn_add_option" onclick="add()">
                                        <i class="bx bx-plus"></i>
                                    </button>
                                </th>
                                <th style="width:5%">STT</th>
                                <th style="width:10%">Mã sản phẩm</th>
                                <th style="width:20%">Tên sản phẩm</th>
                                <th style="width:5%">Sale</th>
                                <th style="width:7%">Trạng thái</th>
                                <th style="width:10%">Ngày tạo</th>
                                <th style="width:10%">Ngày cập nhập</th>
                                <th style="width:20%;">Người tạo</th>
                            </tr>
                        </thead>
                        <tbody class="tbody_product">
                            <tr>
                                <td class="text-center">1</td>
                                <td>pâsdsasadsadsadsadsa</td>
                                <td class="text-break"> </td>
                                <td class="text-center"><input type="checkbox" disabled /></td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
                Nesciunt totam et. Consequuntur magnam aliquid eos nulla dolor iure eos quia. Accusantium distinctio omnis et atque fugiat. Itaque doloremque aliquid sint quasi quia distinctio similique. Voluptate nihil recusandae mollitia dolores. Ut laboriosam voluptatum dicta.
            </div>

        </div>
    </div>
</div>

<div id="modal_product" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="number" value="0" id="product_id_product" hidden />
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="product_code_product" placeholder="Mã sản phẩm">
                            <label for="product_code_product">Mã sản phẩm<span class="text-danger">(*)</span></label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="product_name_product" placeholder="Têm sản phẩm">
                            <label for="product_name_product">Tên sản phẩm<span class="text-danger">(*)</span></label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="cate_id_product" aria-label="Chọn danh mục sản phẩm" asp-items="@((List<SelectListItem>)ViewBag.Category)">
                            </select>
                            <label for="cate_id_product">Danh mục<span class="text-danger">(*)</span></label>
                        </div>
                    </div>
                    @* <div class="col-12 col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="capital_price_product" placeholder="Giá vốn" value="0">
                            <label for="capital_price_product">Giá vốn</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="capital_price_product" placeholder="Giá bán" value="0">
                            <label for="price_product">Giá bán</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="inventory_product" placeholder="Tồn kho" value="0">
                            <label for="inventory_product">Tồn kho</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <label>Trạng thái</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="ispublish_option" checked="">
                            <label class="form-check-label" for="ispublish_option">
                                Được phép hiển thị
                            </label>
                        </div>
                    </div> *@
                </div>
                <div class="accordion mt-2" id="accordion_image">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed btn-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#collapseImage" aria-expanded="false" aria-controls="collapseImage">
                                Hình ảnh
                            </button>
                        </h2>
                        <div id="collapseImage" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion_image" style="">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-3">
                                        <button class="btn btn-info" id="uploadBtn"><i class="bi bi-plus"></i> Thêm hình ảnh</button>
                                        <input type="file" id="fileInput" style="display: none;" multiple>
                                    </div>
                                </div>
                                <div id="imagePreviewContainer" class="row mt-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion mt-2" id="accordion_option">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed btn-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Thuộc tính
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion_option" style="">
                            <div class="accordion-body">
                                <div id="option_value_product">
                                </div>
                                <div class="row mt-2">
                                    <div class="col-3">
                                        <button class="btn btn-info" onclick="addOption()"><i class="bi bi-plus"></i>Thêm thuộc tính</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-2" id="product_detail_product">
                    <div class="accordion" id="accordion_product_detail">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed btn-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Danh sách sản phẩm chi tiết
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion_product_detail" style="">
                                <div class="accordion-body">
                                    <table class="table table-responsive w-100">
                                        <thead>
                                            <tr>
                                                <th class="w-50">
                                                    Tên
                                                </th>
                                                <th class="w-auto">
                                                    Giá vốn
                                                </th>
                                                <th class="w-auto">
                                                    Giá bán
                                                </th>
                                                <th class="w-auto">
                                                    Tồn kho
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_product_detail">
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_save_product" onclick="save()">Lưu</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div id="modal_option" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm thuộc tính</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="number" value="0" id="optionid_option" hidden />
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="option_name_option" placeholder="thuộc tính">
                            <label for="option_name_option">Thuộc tính</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="ispublish_option" checked="">
                            <label class="form-check-label" for="ispublish_option">
                                Được phép hiển thị
                            </label>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed btn-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Thuộc tính đi kèm
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="option_value_name_optionvalue" placeholder="">
                                            <label for="option_value_name_optionvalue">Thuộc tính đi kèm</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Thuộc tính</th>
                                                <th>Hiển thi</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_optionvalue">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_save_option" onclick="create()">Lưu</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/product.js" asp-append-version="true"></script>
}
