@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh mục sản phẩm</h1>

<div class="card">
    <div class="row">
        <div class="col-6 border-1 border-end">
            <div class="table-responsive">
                <table class="table w-100">
                    <thead>
                        <tr>
                            <th class="w-5"><button class="btn btn-success"><i class="bx bx-plus"></i></button></th>
                            <th class="w-20">Mã danh mục</th>
                            <th class="w-25">Tên danh mục</th>
                            <th class="w-25">Cho phép hiển thị</th>
                            <th class="w-25">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <div class="table-responsive">
                <table class="table w-100">
                    <thead>
                        <tr>
                            <th class="w-5"><button class="btn btn-success"><i class="bx bx-plus"></i></button></th>
                            <th class="w-20">Mã danh mục</th>
                            <th class="w-25">Tên danh mục</th>
                            <th class="w-25">Cho phép hiển thị</th>
                            <th class="w-25">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

